/* Estilos para la sección 'Sobre mí' */
.section-about {
    
    text-align: center;
  }
  
  .section-about h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Contenedor para el texto y la imagen */
  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Asegura que en pantallas pequeñas se acomoden bien */
    gap: 20px; /* Espacio entre los elementos */
  }
  
  /* Estilos para el texto */
  .about-text {
    max-width: 1000px;
    font-size: 1.1rem;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
  }
  
  .about-text p {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  /* Estilos para la imagen */
  .about-image {
    flex-shrink: 0; /* Evita que la imagen se reduzca demasiado */
  }
  
  .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
  }
  


  
  /* Botones en la sección 'Sobre mí' */

  
  .about-buttons {
    display: flex;
    gap: 20px; /* Espacio entre botones */
    justify-content: center;
    margin-top: 40px;
  }
  
  .about-buttons a {
    display: flex;
    align-items: center;
    gap: 12px; /* Espaciado entre icono y texto */
    padding: 15px 100px; /* Botones más grandes */
    border-radius: 50px; /* Forma ovalada */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255); /* Color del texto */
    border: 2px solid rgba(245, 73, 144, 1); /* Borde rosa */
    background: transparent; /* Fondo transparente */
    transition: all 0.3s ease;
  }
  
  .about-buttons a img {
    width: 28px;
    height: 28px;
  }
  
  .about-buttons a:hover {
    background: rgba(245, 73, 144, 0.2); /* Efecto de fondo al pasar el mouse */
    transform: scale(1.1); /* Ligero zoom */
  }
  

  @media (max-width: 768px) {
    .about-buttons {
        display: flex;
        flex-direction: column; /* Cambia la dirección de los botones a columna */
        align-items: center; /* Centra los botones */
        gap: 20px; /* Espaciado entre botones */
    }
  }
  