<div class="section-about">
    <h2>Sobre mí</h2>
    <div class="about-image">
        <img src="assets/sandra.png" alt="foto-perfil" class="profile-img">
    </div>
    <div class="about-content">

        <div class="about-text">
            <p>¡Hola! Mi nombre es <strong>Sandra Rubio Sánchez</strong>. Soy desarrolladora web con formación en
                Desarrollo de Aplicaciones Web (DAW) y experiencia práctica en tecnologías como <strong>React</strong>,
                <strong>Angular</strong> y herramientas CMS. Durante mis estudios y prácticas, adquirí un sólido manejo
                de lenguajes y herramientas como <strong>Java</strong>, <strong>JavaScript</strong>,
                <strong>PHP</strong>, <strong>HTML</strong>, <strong>CSS</strong> y <strong>Git</strong>, que me han
                permitido crear aplicaciones web dinámicas y funcionales.
            </p>
            <p>Antes de dedicarme al desarrollo, acumulé 10 años de experiencia en el ámbito administrativo, lo que me
                ayudó a desarrollar competencias transferibles como la organización, atención al detalle y gestión de
                proyectos. Esta combinación de habilidades técnicas y experiencia profesional me permite abordar los
                retos tecnológicos de manera estructurada y efectiva.</p>
            <p>Me considero una persona <strong>persistente, autodidacta y curiosa</strong>, cualidades que me permiten
                aprender rápidamente y adaptarme a nuevas tecnologías. Mi objetivo es seguir creciendo profesionalmente,
                contribuyendo con soluciones innovadoras y colaborando en entornos que valoren el aprendizaje y el
                trabajo en equipo.</p>
        </div>
        

    </div>
    <div class="about-buttons">
        <a href="https://www.linkedin.com/in/sandra-rubio-sanchez/" target="_blank" class="btn btn-linkedin">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg" class="tech-icon"/>
           LinkedIn</a>
        <a href="https://github.com/Sandra13988" target="_blank" class="btn btn-github">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" class="tech-icon"/>
           GitHub</a>
    </div>
</div>