<div class="about-content">

    <div class="about-text">
    </div>
    

</div>
<button (click)="togglePopup()" class="botones-popup" class="botonGrande">Contactame!</button>

<!-- Popup -->
<div *ngIf="showPopup" class="popup">
  <div class="popup-content">
    <h2>Contactme!</h2>
    <p>Estoy abierta a ofertas laborales y a proyectos de código abierto. Si es tu caso, no dudes en contactarme!! ❤️</p>
    <h3>Correo:</h3>
    <div class="email">
      <span>{{ email }}</span>
    </div>
    <div class="content-boton">
        <button (click)="copyToClipboard()" class="botones-popup">Copiar correo</button>
        <button (click)="togglePopup()" class="botones-popup">Cerrar</button>
    </div>
    

    <!-- Message when email is copied -->
    <p *ngIf="copySuccess" class="success-message">{{ copySuccess }}</p>
  </div>
</div>
