<!-- app.component.html -->
<div class="navbar">
    <ul>
      <li><a href="#inicio" routerLink="inicio" routerLinkActive="active">Inicio</a></li>
      <li><a href="#sobre-mi" routerLink="sobre-mi" routerLinkActive="active">Sobre Mí</a></li>
      <li><a href="#proyectos" routerLink="proyectos" routerLinkActive="active">Proyectos</a></li>
      <li><a href="#experiencia" routerLink="experiencia" routerLinkActive="active">Experiencia</a></li>
      <li><a href="#contacto" routerLink="contacto" routerLinkActive="active">Contacto</a></li>
    </ul>
  </div>
  
  <div class="landing-container">
    <div id="inicio" class="section">
      <app-inicio/>
    </div>
  
    <div id="sobre-mi" class="section">
        <app-sobremi/>
    </div>
  
    <div id="proyectos" class="section">
        <app-proyectos/>
    </div>
  
    <div id="experiencia" class="section">
      <app-experiencia/>
    </div>
  
    <div id="contacto" class="section">
        <app-contacto/>
    </div>
  </div>
  
