

<div class="landing-container">
  <div class="button-container">

    <button class="button">
      <a href="#inicio" routerLink="inicio" routerLinkActive="active">INICIO</a>
    </button>

    <button class="button">
      <a href="#sobre-mi" routerLink="sobre-mi" routerLinkActive="active">SOBRE MI</a>
    </button>

    <button class="button">
      <a href="#proyectos" routerLink="proyectos" routerLinkActive="active">PROYECTOS</a>
    </button>

    <button class="button">
      <a href="#experiencia" routerLink="experiencia" routerLinkActive="active">EXPERIENCIA</a>
    </button>

    <button class="button">
      <a href="#habilidades" routerLink="habilidades" routerLinkActive="active">HABILIDADES</a>
    </button>

    <button class="button">
      <a (click)="togglePopup()" >CONTACTO</a>
    </button>
  </div>
</div>

<!-- Popup -->
<div *ngIf="showPopup" class="popup">
  <div class="popup-content">
    <h2>Contactme!</h2>
    <p>Estoy abierta a ofertas laborales y a proyectos de código abierto. Si es tu caso, no dudes en contactarme!! ❤️</p>
    <h3>Correo:</h3>
    <div class="email">
      <span>{{ email }}</span>
    </div>
    <div class="content-boton">
        <button (click)="copyToClipboard()" class="botones-popup">Copiar correo</button>
        <button (click)="togglePopup()" class="botones-popup">Cerrar</button>
    </div>
    

    <!-- Message when email is copied -->
    <p *ngIf="copySuccess" class="success-message">{{ copySuccess }}</p>
  </div>
</div> 
<div class="global-container">
  <div id="inicio" class="section">
    <app-inicio />
  </div>

  <div id="sobre-mi" class="section">
    <app-sobremi />
  </div>

  <div id="proyectos" class="section">
    <app-proyectos />
  </div>

  <div id="experiencia" class="section">
    <app-experiencia />
  </div>

  <div id="habilidades" class="section">
    <app-habilidades />
  </div>

  <!--<div id="contacto" class="section">
    <app-contacto />
  </div>-->
</div>

