<div class="titulo">
  <h1>Proyectos</h1>
</div>

<div class="cards">
  <div class="card">
    <div class="card-image"></div>
    <p class="card-title">Nombre del proyecto</p>
    <p class="card-body">
      Descripcion del proyecto
    </p>
    <div class="tech-icons">

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
        class="tech-icon" />
    </div>
  </div>

  <div class="card">
    <div class="card-image"></div>
    <p class="card-title">Nombre del proyecto</p>
    <p class="card-body">
      Descripcion del proyecto
    </p>
    <div class="tech-icons">

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
        class="tech-icon" />
    </div>
  </div>
  <div class="card">
    <div class="card-image"></div>
    <p class="card-title">Nombre del proyecto</p>
    <p class="card-body">
      Descripcion del proyecto
    </p>
    <div class="tech-icons">

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
        class="tech-icon" />
    </div>
  </div>
</div>