<div class="titulo">
  <h1>Proyectos</h1>
</div>

<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="assets/librex.jpg" alt="foto-proyecto" class="img-proyecto">
    </div>
    <p class="card-title">Librex</p>
    <p class="card-body">
      Aplicación tipo librería que ofrece a los usuarios una plataforma para explorar novedades, consultar una amplia lista de libros, mantenerse informados sobre noticias de autores y, principalmente, descargar libros en formato digital. La interfaz permite una navegación fácil y fluida, brindando acceso rápido a los títulos más recientes y a una selección variada de géneros.
    </p>
    <div class="tech-icons">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" class="tech-icon" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" class="tech-icon" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain.svg" class="tech-icon" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-plain.svg" class="tech-icon" />
    </div>
    <div class="card-actions">
      <a href="https://github.com/Sandra13988/ProyectoDAW" target="_blank">
        <button class="btn-git">Ver Código</button>
      </a>
      <a href="https://tu-enlace-al-proyecto.com" target="_blank">
        <button class="btn-project">Ver Proyecto</button>
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="assets/agenda.png" alt="foto-proyecto" class="img-proyecto">
    </div>
    <p class="card-title">Agenda de contactos</p>
    <p class="card-body">
      Aplicación de gestión de contactos que permite a los usuarios añadir, modificar y eliminar contactos, así como gestionar tipos personalizados. Los administradores tienen acceso completo para gestionar todos los contactos, mientras que los usuarios pueden organizar y editar sus propios registros de manera intuitiva.
    </p>
    <div class="tech-icons">

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" class="tech-icon" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" class="tech-icon" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain.svg" class="tech-icon" />
    </div>
    <div class="card-actions">
      <a href="https://github.com/Sandra13988/agenda" target="_blank">
        <button class="btn-git">Ver Código</button>
      </a>
      <a href="https://tu-enlace-al-proyecto.com" target="_blank">
        <button class="btn-project">Ver Proyecto</button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/pokemon.png" alt="foto-proyecto" class="img-proyecto">
    </div>
    <p class="card-title">Aplicación Pokemon</p>
    <p class="card-body">
      Aplicación tipo Pokédex que permite a los usuarios consultar información detallada sobre diversos Pokémon, como sus tipos, estadísticas, evoluciones y movimientos. La aplicación incluye una interfaz intuitiva para buscar y filtrar Pokémon, ofreciendo una experiencia interactiva y educativa para los fans de la saga.
    </p>
    <div class="tech-icons">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" class="tech-icon" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" class="tech-icon" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain.svg" class="tech-icon" />
    </div>
    <div class="card-actions">
      <a href="https://github.com/Sandra13988/pokemon" target="_blank">
        <button class="btn-git">Ver Código</button>
      </a>
      <a href="https://tu-enlace-al-proyecto.com" target="_blank">
        <button class="btn-project">Ver Proyecto</button>
      </a>
    </div>
  </div>
  
</div>