<h1>EXPERIENCIA</h1>
<div>
    <div class="experiencia">
        <div class="experiencia-text">
            <h2>Frontend Developer</h2>
            <p>Profesional independiente</p>
            <p>2024 - Actualidad</p>
            <p>Desarrollo de aplicaciones web y páginas web para clientes particulares y pequeñas empresas. Creación de
                sitios web dinámicos y funcionales, adaptados a las necesidades y objetivos de cada cliente.</p>
        </div>
        <div class="experiencia-text">
            <h2>Frontend Developer</h2>
            <p>Goltratec</p>
            <p>2024 - 2024</p>
            <p>Desarrollo de aplicaciones web y páginas web para clientes particulares y pequeñas empresas. Creación de
                sitios web dinámicos y funcionales, adaptados a las necesidades y objetivos de cada cliente.</p>
        </div>
    </div>
    