<h2>EXPERIENCIA</h2>
<div class="experiencia-container">
    <!-- Freelance -->
    <div class="experiencia">
        <div class="icono-exp">
            <img width="64" height="64" src="https://img.icons8.com/dusk/64/e-learning.png" alt="e-learning"/>
        </div>
        <div class="experiencia-info">
            <h2>Frontend Developer</h2>
            <p>Profesional independiente</p>
            
        </div>
        <div class="experiencia-descripcion">
            <ul>
                <li>Desarrollo de componentes reutilizables y modulares en <strong>Angular</strong>.</li>
                <li>Implementación de rutas y navegación con <strong>Angular Router</strong>.</li>
                <li>Gestión del estado global utilizando <strong>NgRx</strong> para aplicaciones escalables.</li>
                <li>Integración de APIs REST usando <strong>HttpClientModule</strong> de Angular.</li>
                <li>Optimización de la experiencia del usuario con <strong>Angular Material</strong> para crear
                    interfaces limpias y funcionales.</li>
            </ul>
        </div>
    </div>

    <!-- Goltratec -->
    <div class="experiencia">
        <div class="icono-exp">
            <img width="64" height="64" src="https://img.icons8.com/dusk/64/e-learning.png" alt="e-learning"/>
        </div>
        <div class="experiencia-info">
            <h2>Frontend Developer</h2>
            <p>Goltratec</p>
            
        </div>
        <div class="experiencia-descripcion">
            <ul>
                <li>Desarrollo de aplicaciones web utilizando <strong>React</strong> y <strong>Hooks</strong> para una
                    mejor gestión del estado.</li>
                <li>Integración de <strong>React Router</strong> para navegación entre vistas.</li>
                <li>Validación de formularios con <strong>Formik</strong> y <strong>Yup</strong> para una mejor
                    experiencia de usuario.</li>
                <li>Optimización de la comunicación con el backend usando <strong>React Query</strong> y
                    <strong>Axios</strong>.</li>
                <li>Diseño y desarrollo de interfaces modernas con <strong>Material UI</strong> y <strong>Tailwind
                        CSS</strong>.</li>
            </ul>
        </div>
    </div>
</div>