h1 {
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;
}

.experiencia-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre cada experiencia */
}

.experiencia {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre las columnas */
    padding: 20px;
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(245, 73, 144, 0.5);
}

.experiencia-info {
    width: 30%; /* Columna izquierda */
    font-weight: bold;
    color: white;
    padding-left: 50px;
}

.experiencia-descripcion {
    width: 65%; /* Columna derecha */
    color: rgb(184, 184, 184);
    text-align: left;
}

@media (max-width: 768px) {
    .experiencia {
        flex-direction: column;
        text-align: center;
    }
    
    .experiencia-info, 
    .experiencia-descripcion {
        width: 100%;
    }
}

.icono-exp {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center;     /* Centra la imagen verticalmente */
    width: 100px;             /* Puedes ajustar el ancho según lo necesites */
    height: 100px;            /* Puedes ajustar la altura según lo necesites */
}

@media (max-width: 768px) {
    .experiencia {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    .experiencia-info, 
    .experiencia-descripcion {
        width: 100%;
        padding-left: 0; /* Elimina el espacio extra */
        text-align: left; /* Centrar contenido */
    }

    .experiencia-info p{
        text-align: center;
    }
    
}

.icono-exp {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center;     /* Centra la imagen verticalmente */
    width: 100px;             /* Puedes ajustar el ancho según lo necesites */
    height: 100px;            /* Puedes ajustar la altura según lo necesites */
}
