/* From Uiverse.io by Sashank02 */ 
.titulo{
    padding-top: 100px;
    text-align: center;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    grid-template-rows: repeat(3, 1fr); /* Tres filas de igual tamaño */
    gap: 30px; /* Espacio entre los elementos de la cuadrícula */
  }
  
.card {
    padding: 20px;
    width: 330px;
    min-height: 200px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px rgba(245, 73, 144, 1),
               -5px -5px 8px #272727;
    transition: 0.4s;
  }
  
  .card:hover {
    translate: 0 -10px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin: 15px 0 0 10px;
  }
  
 
  
  .card-body {
    margin: 13px 0 0 10px;
    color: rgb(184, 184, 184);
    font-size: 15px;
  }
  
  .footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #b3b3b3;
  }
  
  .by-name {
    font-weight: 700;
  }

  @media screen and (max-width: 768px) {
    .cards{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
  }