<div class="titulo">
    <h1>Habilidades</h1>
</div>

<div class="cards">
    <div class="card">
        <p class="card-title">Rapido aprendizaje</p>
        <p class="card-body">
            Nullam ac tristique nulla, at convallis quam. Integer consectetur mi nec magna tristique, non lobortis.
        </p>
    </div>

    <div class="card">
        <p class="card-title">Rapido aprendizaje</p>
        <p class="card-body">
            Nullam ac tristique nulla, at convallis quam. Integer consectetur mi nec magna tristique, non lobortis.
        </p>
    </div>
    <div class="card">
        <p class="card-title">Rapido aprendizaje</p>
        <p class="card-body">
            Nullam ac tristique nulla, at convallis quam. Integer consectetur mi nec magna tristique, non lobortis.
        </p>
    </div>
    <div class="card">
        <p class="card-title">Rapido aprendizaje</p>
        <p class="card-body">
            Nullam ac tristique nulla, at convallis quam. Integer consectetur mi nec magna tristique, non lobortis.
        </p>
    </div>

    <div class="card">
        <p class="card-title">Rapido aprendizaje</p>
        <p class="card-body">
            Nullam ac tristique nulla, at convallis quam. Integer consectetur mi nec magna tristique, non lobortis.
        </p>
    </div>
    <div class="card">
        <p class="card-title">Rapido aprendizaje</p>
        <p class="card-body">
            Nullam ac tristique nulla, at convallis quam. Integer consectetur mi nec magna tristique, non lobortis.
        </p>
    </div>
</div>