<div class="titulo">
    <h1>Habilidades</h1>
</div>

<div class="cards">
    <div class="card">
        <div class="card-top">
            <img width="64" height="64" src="https://img.icons8.com/dusk/64/natural-food.png" alt="natural-food"/>
            <p class="card-title"> Autonomía y responsabilidad personal</p>
        </div>
        <p class="card-body">
            Me considero una persona responsable y capaz de trabajar de manera independiente. Me gusta tomar la iniciativa y asumir tareas sin necesidad de supervisión constante, lo que me permite ser productivo y gestionar bien mi carga de trabajo. Aprecio la autonomía, ya que me permite organizarme según mis prioridades y ser más eficiente.        </p>
    </div>

    <div class="card">
        <div class="card-top">
            <img width="64" height="64" src="https://img.icons8.com/dusk/64/teamwork.png" alt="teamwork"/>
            <p class="card-title">Trabajo en equipo</p>
        </div>

        <p class="card-body">
            Disfruto colaborar con otros, ya que creo que un equipo bien coordinado puede lograr mucho más que el esfuerzo individual. Soy flexible y me adapto a diversas dinámicas grupales, buscando siempre apoyar a mis compañeros y mantener un ambiente de trabajo armonioso. En situaciones de conflicto, trato de mediar y encontrar soluciones constructivas para el grupo.
        </p>
    </div>
    <div class="card">
        <div class="card-top">
            <img width="64" height="64" src="https://img.icons8.com/dusk/64/time-management.png" alt="time-management"/>
            <p class="card-title">Gestión del tiempo</p>
        </div>

        <p class="card-body">
            Soy una persona organizada y eficiente al gestionar mis tareas y proyectos. Me aseguro de priorizar lo más importante y de cumplir con los plazos establecidos. Además, manejo bien las tareas simultáneas, sin comprometer la calidad de mi trabajo, y me esfuerzo por mantenerme enfocado, incluso cuando el ritmo de trabajo es alto.
        </p>
    </div>
    <div class="card">
        <div class="card-top">
            <img width="64" height="64" src="https://img.icons8.com/dusk/64/mental-state.png" alt="mental-state"/>
            <p class="card-title"> Pensamiento crítico y resolución de problemas</p>
        </div>

        <p class="card-body">
            Me gusta enfrentar los desafíos de manera analítica y creativa. Identifico rápidamente los problemas y busco soluciones efectivas y bien fundamentadas. Tomo decisiones basadas en datos y hechos, siempre con el objetivo de mejorar los procesos o resultados, y disfruto explorar nuevas formas de hacer las cosas más eficientemente.
        </p>
    </div>
    <div class="card">
        <div class="card-top">
            <img width="64" height="64" src="https://img.icons8.com/dusk/64/trust--v1.png" alt="trust--v1"/>
            <p class="card-title">Empatía y manejo emocional</p>
        </div>

        <p class="card-body">
            Soy consciente de mis emociones y de cómo pueden influir en mi trabajo y en las relaciones con los demás. Trato de ser empático, poniéndome en el lugar de los demás y mostrando comprensión ante diferentes puntos de vista. Esto me permite mantener una actitud positiva, incluso en situaciones difíciles, y ayudar a crear un ambiente de trabajo respetuoso y armonioso.
        </p>
    </div>
    <div class="card">
        <div class="card-top">
            <img width="64" height="64" src="https://img.icons8.com/dusk/64/e-learning.png" alt="e-learning"/>
            <p class="card-title">Adaptación tecnológica</p>
        </div>

        <p class="card-body">
            Estoy siempre dispuesto a aprender nuevas herramientas y tecnologías. Me encanta explorar soluciones innovadoras y aplicarlas a mis proyectos para mejorar la eficiencia y los resultados. Creo que adaptarme rápidamente a nuevas tecnologías me permite estar al día con las tendencias y ser más competitivo en mi campo.
        </p>
    </div>
</div>