/* inicio.component.css */
.inicio-container {
    padding: 40px;
    padding-top: 0px;
  }
  
  .section-light {
    display: flex; /* Flexbox para alinear los elementos internos */
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Opcional si quieres más ajustes horizontales */
  }
  
  .blinking-light {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:  rgb(27, 199, 27);
    animation: blink 1s infinite alternate;
    margin: 10px;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .disponible {
    margin-top: 20px;
    font-size: 1.5rem;
    color: rgb(27, 199, 27);
  }
  
  .section-name {
    font-size: 3rem;
    text-align: center;
  }
  
  .section-cv button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .section-tecnologias {
    text-align: center;
  }
  
  .tech-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .tech-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  