<!-- inicio.component.html -->
<div class="inicio-container">
  <!-- Sección de luz parpadeante y frase -->
  <div class="section-light">
    <div class="blinking-light"></div>
    <p class="disponible">Disponible para trabajar</p>
  </div>

  <!-- Sección de nombre y cargo -->
  <div class="section-name">
    <h1>Sandra Rubio Sánchez</h1>
    <h2>Fullstack Developer</h2>
  </div>

  <!-- Botón para descargar CV -->

  <!-- From Uiverse.io by gharsh11032000 -->
  <div class="section-cv">
    <a class="animated-button" href="assets/CV.pdf" download="CV_Sandra.pdf">
      <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
        </path>
      </svg>
      <span class="text">Descargar CV</span>
      <span class="circle"></span>
      <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
        </path>
      </svg>
    </a>
  </div>


  <!-- Sección de tecnologías -->
  <div class="section-tecnologias">
    <h2>Tecnologías que utilizo</h2>
    <div class="tech-icons">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
        class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
        class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain.svg" class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-plain.svg" class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg"
        class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg"
        class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original-wordmark.svg"
        class="tech-icon" />

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg"
        class="tech-icon" />
    </div>
  </div>
</div>